*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Varela Round', sans-serif;
	scroll-behavior: smooth;
	/*border: 1px solid red;	*/
}

/*anding Page */
.Landing-main{
	background: linear-gradient(
		rgba(4, 15, 22, 0.65),
		rgba(4, 15, 22, 0.65)),
		url(../images/book.jpg);
	background-size: cover;
	background-position: center;

}

header{
	display: flex;
	justify-content: space-between;
	height: 15vh;
}

.Landing-main > header > div > h1, p {
	display: flex;
	position: relative;
	top: 15px;
	left: 25px;

}

header > div > h1 {
	color: #0d80d9;
	font-size: 40px;
	font-weight: bolder;
}

.Landing-main > header > div > p {
	color: lightgray;
	font-size: 15px;
}

header > img{
	display: flex;
	position: relative;
	top: 15px;
	right: 30px;
	width: 45px;
	height: 45px;
}

.Landing-page > div > button {
	width: 150px;
	padding: 10px 20px;
	border-radius: 20px;
	border: 0;
	background-color:  #d43111;
	margin-top: 20px;
	outline:none;
}

.Landing-page > div > button:hover {
	margin-top: 30px;
	transition: 0.8s;
	background-color: #040F16;
	color: #005E7C;

}

.Landing-page > div > h1 {
	font-size: 50px;
	margin-top: 10px;
	color: #F6F7EB;
}

.Landing-page > div > h4 {
	color: lightgray;
}

.Landing-page{
	height: 90vh;
	display: flex;
	justify-content: center;		
	align-items: center;
	color: black;
	font-family: 'Poppins', sans-serif;
}

.Landing-page > div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	word-spacing: 
}


nav{
	display: flex;
	height: 11vh;
	width: 100%;
	background-color: #040F16;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	padding: 0 10px;
	z-index: 100;
}

nav > div > h1, p {
	position: relative;
	top: 15px;
	left: 25px;
}

nav > div > h1 {
	color: #0d80d9;
	font-size: 35px;
	font-weight: bolder;
	position: relative;
	left: 15px;
}
 
nav > div > p{
	color: lightgray ;
	font-size: 12px;
	position: relative;
	left: 0px;
	top: 10px;
}

nav > div {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	bottom: 15px;

}

nav > ul {
	display: flex;
	list-style-type: none;

}

nav > ul > li {
	margin: 0 15px;
	position: relative;
	right: 10px;
}

nav > ul > li > a{
	color: whitesmoke;
	text-decoration: none;
	font-size: 15px;

}
nav img{
	display: flex;
	position: relative;
	right: 30px;
	width: 45px;
	height: 45px;
	visibility:hidden;
	position: absolute;
}
nav > ul > li > a:hover{
	color: #0d80d9;
	text-decoration: line-through;
}

/*Shop codes starts here*/
.Shop{
	height: 90vh;
	background-color: whitesmoke;

}

.Shop > .search {
	display: flex;
	justify-content: center;
	align-content: center;
	height: 10%;

}



.search > form {
	display: flex;
	justify-content: center;
	width: 80%;
	align-items: center;

}

* input{
	margin: 0 20px;
	width: 200px;
	height: 30px;
	border-radius: 5px;
	background-color: lightgray;
	padding: 5px 10px;
}

select{
	width: 200px;
	height: 30px;
	background-color: lightgray;
	padding: 5px 10px;
	border-radius: 5px;
}

.search-btn{
	width: 150px;
	padding: 10px 20px;
	border-radius: 20px;
	border: 0;
	background-color:  #0d80d9;
	outline:none;
}

.search-result{
	height: 90%;
	display: flex;
	justify-content: center;
	padding-top: 10px;

}

.search-result > div{
	width: 80%;
	display:flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;

}

.search-result > div > div{
	width: 200px;
	height: 220px;
	background-color: #fcbe38;
	margin: 10px 10px;
	float: left;
	text-align: center;
	padding: 10px 0;
	border-radius: 5px;
	position: relative;

}

.search-result > div > div > img{
	width: 80px;
	height:100px;
	margin: 20px;
	border: 2px solid whitesmoke;

}


.search-result > div > div div > button {
	height: 17px;
	width: 55px;
	border-radius: 20px;
	border: 0;
	font-size: 11px;
	outline:none;
}

.search-result > div > div div > .sr-detail {
	background-color: #005E7C;
}

.search-result > div > div div > .sr-buy {
	background-color: #d43111;
}

.search-result > div > div:hover{
	transform: scale(1.1);	
	background-color: #ffd170;
	z-index: 3;
	transition: .7s;
}
.search-result > div > div div > button:hover{
	color: whitesmoke;
	transition: .5s;
}

.search > form > button:hover{
	color: whitesmoke;
	transition: .5s;
}


/*Bestseller codes starts here*/
.Best-seller {
	height: 90vh;
	width: 100%;
	background-color: #005E7C;
	display: flex;
	flex-direction: row;
}

.Best-seller > div {
	width: 33.3%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.Best-seller > .bs-caption{
	display: flex;
	flex-direction: column;
}

.Best-seller > .bs-caption p {
	width: 80%;
	margin-bottom: 10px;

}

.Best-seller > .bs-cover > img, .Best-seller > .bs-delia > img{
	width: 90%;
	height: 470px;
}

/*Reviews codes starts here*/

.Reviews{
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #040F16;
	color: whitesmoke;
	text-align: center;

}

.r-people {
	display: flex;
	width: 90vw;
	padding: 5px;
	height:70vh;

	
}

.Reviews > div {
	margin-bottom: 20px;
}

.r-people > div {
	text-align: center;
	width: 33.3%;
	display: flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;
	margin: 20px;
	position: relative;
	background-color: #fcbe38;
	border-radius: 5px;
	color: #005E7C;
}

.r-people > div > div{
	width: 300px;
	display: flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;
	margin: 10px 0;
	background-color: #fcbe38;
	border-radius: 5px;
	text-align: center;

}


.rp-sect1 > img {
	position: relative;
	width: 60px;
	height: 60px;
	display: flex;
	margin-bottom: 20px;
	border-radius: 50px;
	border: 2px solid whitesmoke;
	object-fit: cover;
}

.r-people > div > p {
	color: black;
	width: 300px;
	position: relative;
	left: 0px;

}
/*Contact codes starts here*/

.Contact{
	height: 90vh;
	background-color: whitesmoke;
	display: flex;
}

.Contact .c-form, .c-image{
	width: 50%;
}

.c-form > form {
	display: flex;
	flex-direction: column;
	margin: 20px 0;
	padding: 10px 0;
	align-items: center;
}	
.c-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.c-form > form > input{
	width: 300px;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 5px;

}

.c-form form > textarea {
	width: 350px;
	height: 180px;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px;
}

.c-form form > button{
	width: 250px;
	height: 40px;
	border-radius: 50px;
	background-color:  #d43111;
	transition: 0.5s;
}
.Contact > .c-image {
	display: flex;
	justify-content: center;
	align-items:center;
}
.Contact > .c-image > img{

	height: 50%;
	width: 50%;
}

.c-form form > button:hover{
	background-color:black;
	color: whitesmoke;

}

footer{
	height: 25vh;
	background-color: black;
	color: white;
	display: flex;

}
footer > .f-left,.f-right  {
	display:flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

footer > .f-left > i{
	margin: 5px;
	padding: 5px;
}

footer > .f-right > div > i{
	margin: 5px;

}


/*Responsiveness starts here*/


@media only screen and (max-width: 375px){
	*{
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;
	}

/*Start of Landing Page*/
	header{
		height: 10%;
		width: 100%
	}
	.Landing-main  > header > div > h1,p {
		position: relative;
		top:0px;
		left: 0px;

	}

	.Landing-main > header > div h1 {
		padding-top: 10px;
		left: 25px;
		font-size: 25px;
	}

	.Landing-main > header > div p {
		left: 25px;
		font-size:10px;

	}

	.Landing-main > header > img {
		height: 20px;
		width: 20px;
	}

	.Landing-page > div h1{
		font-size: 30px;
		text-align: center;
	}
/*End of Landing page*/
/*Nav page*/
	nav {
		height: 50px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: sticky;
		top: 0;
	}

	nav > div > h1,p {
		position: relative;

		}

	nav > div h1{
		font-size: 25px;
		left: 15px;
	}

	nav > div p {
		font-size:10px;
		left: 15px;
	}

	nav ul{
		visibility:hidden;
	}

	nav img{
		height: 20px;
		width: 20px;
		visibility: visible;
	}

/*End of Nav bar*/
/*Start of Shop*/
	.search form{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.search > form > input,.search > form > select  {
		width: 100px;
		height: 25px;
		font-size: 10px;
		padding: 5px;
	}
	.search > form > button {
		width: 100px;
		height: 25px;
		padding: 5px 5px; 
		font-size: 10px;
	}

	.search-result {
		width: 100%;
		
	}

	.search-result > div  {
		height: auto;
		overflow: auto;
	}

/*End of Shop*/
/*Bestseller codes starts here*/
	.Bestseller{
		height: auto;
	}
	.Bestseller > div {
		width: 100%;
		height:;
		display:block;
	}
/*Bestseller ends here*/

}
/*ipad - min-width 376px*/