*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Varela Round', sans-serif;
	scroll-behavior: smooth;
	/*border: 1px solid black;*/
}

/*anding Page */
.Landing-main{
	background: linear-gradient(
		rgba(4, 15, 22, 0.65),
		rgba(4, 15, 22, 0.65)),
		url(../images/book.jpg);
	background-size: cover;
	background-position: center;

}

header{
	display: flex;
	justify-content: space-between;
	height: 15vh;
}

header > div > h1, p {
	display: flex;
	position: relative;
	top: 15px;
	left: 25px;

}

header > div > h1 {
	color: #005E7C;
	font-size: 40px;
	font-weight: bolder;
}

header > div > p {
	color: lightgray;
	font-size: 15px;
}

header > img{
	display: flex;
	position: relative;
	top: 15px;
	right: 30px;
	width: 45px;
	height: 45px;
}

.Landing-page > div > button {
	width: 150px;
	padding: 10px 20px;
	border-radius: 20px;
	border: 0;
	background-color:  #d43111;
	margin-top: 20px;
	outline:none;
}

.Landing-page > div > button:hover {
	margin-top: 30px;
	transition: 0.8s;
	background-color: #040F16;
	color: #005E7C;

}

.Landing-page > div > h1 {
	font-size: 50px;
	margin-top: 10px;
	color: #F6F7EB;
}

.Landing-page > div > h4 {
	color: lightgray;
}

.Landing-page{
	height: 90vh;
	display: flex;
	justify-content: center;	
	align-items: center;
	color: black;
	font-family: 'Poppins', sans-serif;
}

.Landing-page > div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	word-spacing: 
}


nav{
	display: flex;
	height: 70px;
	background-color: #040F16;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	padding: 0 10px;
	z-index: 100;
}

nav > div > h1, p {
	position: relative;
	top: 15px;
	left: 25px;
}

nav > div > h1 {
	color: #005E7C;
	font-size: 35px;
	font-weight: bolder;
	position: relative;
	left: 15px;
}
 
nav > div > p{
	color: lightgray;
	font-size: 12px;
	position: relative;
	left: 0px;
	top: 10px;
}

nav > div {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	bottom: 15px;

}

nav > ul {
	display: flex;
	list-style-type: none;

}

nav > ul > li {
	margin: 0 15px;
	position: relative;
	right: 10px;
}

nav > ul > li > a{
	color: whitesmoke;
	text-decoration: none;
	font-size: 15px;

}

nav > ul > li > a:hover{
	color: #0d80d9;
	text-decoration: line-through;
}

/*Shop codes starts here*/
.Shop{
	height: 90vh;
	background-color: whitesmoke;

}

.Shop > .search {
	display: flex;
	justify-content: center;
	align-content: center;
	height: 10%;

}



.search > form {
	display: flex;
	justify-content: center;
	align-items: center;

}

* input{
	margin: 0 20px;
	width: 200px;
	height: 30px;
	border-radius: 5px;
	background-color: lightgray;
	padding: 5px 10px;
}

select{
	width: 200px;
	height: 30px;
	background-color: lightgray;
	padding: 5px 10px;
}

.search-btn{
	width: 150px;
	padding: 10px 20px;
	border-radius: 20px;
	border: 0;
	background-color:  #0d80d9;
	outline:none;
}

.search-result{
	height: 90%;
	display: flex;
	justify-content: center;
	padding-top: 10px;

}

.search-result > div{
	width: 80%;
	display:flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.search-result > div > div{
	width: 200px;
	height: 240px;
	background-color: lightgray;
	margin: 10px 10px;
	float: left;
	text-align: center;
	padding: 10px 0;
	border-radius: 5px;
	position: relative;

}

.search-result > div > div > img{
	width: 70px;
	height:100px;
	margin: 20px;
	box-shadow: 2px 2px 20px black;

}


.search-result > div > div div > button {
	height: 17px;
	width: 55px;
	border-radius: 20px;
	border: 0;
	font-size: 11px;
	outline:none;
}

.search-result > div > div div > .sr-detail {
	background-color: #005E7C;
}

.search-result > div > div div > .sr-buy {
	background-color: #d43111;
}

.search-result > div > div:hover{
	transform: scale(1.1);	
	/*box-shadow: 2px 2px 20px black;*/
	background-color: gray;
	z-index: 3;
	transition: .7s;
}
.search-result > div > div:hover , .search-result > div > div div > button:hover{
	color: whitesmoke;
	transition: .5s;
}


/*About codes starts here*/
.Best-seller {
	height: 90vh;
	background-color: #005E7C;
	display: flex;

	
}

.Best-seller > div {
	width: 33.3%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

}

.Best-seller > .bs-caption{
	flex-direction: column;
	color: black;
	position: relative;
	bottom: 30px;
}

.Best-seller > .bs-cover > img, .Best-seller > .bs-delia > img{
	width: 370px;
	height: 470px;
}


.{

}
/*Contact codes starts here*/

.Contact{
	height: 90vh;
	background-color: whitesmoke;

}





/*Responsiveness starts here*/

@media screen and (max-width: 375px){

	header > div > h1 {

		font-size: 200px;
	}
}

/*ipad - min-width 376px*/